version: "3.7"

services:
  service: &service
    container_name: moobot
    env_file:
      - ".env"
    build:
      dockerfile: ./docker/service.dockerfile
      context: .
      target: prod
      args:
        app_env: prod
    stop_grace_period: "2s"
    volumes:
      - ./:/app
    links:
      - db
    depends_on:
      - db
    ports:
      - "3000:3000"
    networks:
      - moobot

  db:
    image: postgres
    env_file:
      - ".env"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: "unless-stopped"
    networks:
      - moobot

  devbox: &devbox
    <<: *service
    build:
      dockerfile: ./docker/service.dockerfile
      context: .
      target: dev
      args:
        app_env: dev
    entrypoint: /bin/bash
    stdin_open: true
    tty: true
    networks:
      - moobot

  test:
    <<: *devbox
    command: [ "/bin/sh", "docker/scripts/test-docker-entrypoint.sh" ]
    networks:
      - moobot

  migrations:
    <<: *service
    depends_on:
      - db
    command:
      [
        "/bin/bash",
        "docker/scripts/migrations-docker-entrypoint.sh"
      ]
    networks:
      - moobot

  pgweb:
    image: sosedoff/pgweb
    env_file:
      - ".env"
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/postgres?sslmode=disable
    restart: "unless-stopped"
    ports:
      - "8081:8081"
    links:
      - db
    depends_on:
      - db
    networks:
      - moobot

volumes:
  pgdata:


networks:
  moobot:
